/* index.css */

body {
  margin: 0;
  font-family: sans-serif;
  background-color: #000000;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 40px;
  padding: 30px;
}

.card {
  background-color: rgb(255, 255, 255);
  border-radius: 30px;
  padding: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-title {
  font-size: 1.2rem;
  margin-bottom: 0.3rem;
}

.card-desc {
  font-size: 1.5rem;
  color: #555;
}

.custom-button {
  display: inline-block;
  background-color: #000000;
  color: white;
  padding: 10px 16px;
  text-decoration: none;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.custom-button:hover {
  background-color: #cb0000;
}

.title {
  text-align: center;
  color: rgb(255, 255, 255);
  font-family: 'Orbitron', sans-serif;
}
